In [2]:
%load_ext autoreload
%autoreload 2

from pathlib import Path
import sys

root_path = Path.cwd().absolute().parent.parent
print(f"Current working directory: {root_path}")

if str(root_path) not in sys.path:
    sys.path.insert(0, str(root_path))

Current working directory: c:\Users\RoopakPrajapat\Documents\KonaAI_ML\code

In [ ]:
from src.sql_agent.data_dictionary import SQLDataDictionary
from src.utils.global_config import GlobalSettings
from src.utils.instance import Instance
import pandas as pd


instance: Instance = GlobalSettings.instance_by_id(GlobalSettings().active_instance_id)

dd = SQLDataDictionary(table_schema="Analytics", table_name="Invoices", db=instance.settings.projectdb)
schema : pd.DataFrame = dd.get_schema()
display(schema)

2025-11-15 17:34:56 - INFO - Table Invoices_DataDictionary does not exist. - Server=localhost, Database=GDB_DIT_Testing, Username=dofus
2025-11-15 17:34:56 - ERROR - Failed - Table Analytics.Invoices_DataDictionary does not exist - Server=localhost, Database=GDB_DIT_Testing, Username=dofus
2025-11-15 17:34:56 - WARNING - No data found in the data dictionary table Analytics.Invoices_DataDictionary. Description not updated.
2025-11-15 17:34:56 - INFO - Downloading data from query - Server=localhost, Database=GDB_DIT_Testing, Username=dofus - Query:
            SELECT
                cols.column_name AS COLUMN_NAME,
                cols.data_type AS DATA_TYPE,
                cols.is_nullable AS IS_NULLABLE,
                CASE WHEN pk.column_name IS NOT NULL THEN 'YES' ELSE 'NO' END AS IS_PRIMARY_KEY,
                CASE WHEN uq.column_name IS NOT NULL THEN 'YES' ELSE 'NO' END AS IS_UNIQUE,
                -- empty description field to be filled later
                NULL AS DESCRIPTION,
                0 AS EXCLUDE
            FROM
                information_schema.columns cols
            LEFT JOIN (
                SELECT kcu.column_name
                FROM information_schema.table_constraints tc
                JOIN information_schema.key_column_usage kcu
                ON tc.constraint_name = kcu.constraint_name
                AND tc.table_schema = kcu.table_schema
                WHERE tc.constraint_type = 'PRIMARY KEY'
                AND tc.table_name = 'Invoices'
                AND tc.table_schema = 'Analytics'
            ) pk ON cols.column_name = pk.column_name
            LEFT JOIN (
                SELECT kcu.column_name
                FROM information_schema.table_constraints tc
                JOIN information_schema.key_column_usage kcu
                ON tc.constraint_name = kcu.constraint_name
                AND tc.table_schema = kcu.table_schema
                WHERE tc.constraint_type = 'UNIQUE'
                AND tc.table_name = 'Invoices'
                AND tc.table_schema = 'Analytics'
            ) uq ON cols.column_name = uq.column_name
            WHERE
                cols.table_name = 'Invoices'
                AND cols.table_schema = 'Analytics'
            ORDER BY
                cols.ordinal_position;
             - Chunksize: 150000
2025-11-15 17:34:57 - INFO - Downloading chunk - Chunk: 1
2025-11-15 17:34:57 - INFO - Data downloaded - Server=localhost, Database=GDB_DIT_Testing, Username=dofus - Rows: 267 - Columns: 7 - Size: 81.7 kB - Path: C:\Users\RoopakPrajapat\Documents\KonaAI_ML\project_data\konaai_temp\5590088896934a0b92582bc53f45e199
2025-11-15 17:34:57 - INFO - Starting data repartitioning
2025-11-15 17:34:57 - INFO - Data partitions already optimized for processing

,COLUMN_NAME,DATA_TYPE,IS_NULLABLE,IS_PRIMARY_KEY,IS_UNIQUE,DESCRIPTION,EXCLUDE
0,VendorNumber,nvarchar,NO,NO,NO,None,0
1,VendorName,nvarchar,NO,NO,NO,None,0
2,VendorCountry,nvarchar,NO,NO,NO,None,0
3,VendorCountryName,nvarchar,NO,NO,NO,None,0
4,VendorCategory,nvarchar,NO,NO,NO,None,0
...,...,...,...,...,...,...,...
262,P2PANIN927_Tran_Score,decimal,NO,NO,NO,None,0
263,P2PANIN928_Tran_Score,decimal,NO,NO,NO,None,0
264,P2PANIN929_Tran_Score,decimal,NO,NO,NO,None,0
265,P2PANIN930_Tran_Score,decimal,NO,NO,NO,None,0
266,P2PANIN931_Tran_Score,decimal,NO,NO,NO,None,0